.footer{
    position: relative;
    bottom: 0;
    left: 0;
    background-color: white;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    margin:auto;
}

p{
    text-align: center;
}